# CoinGecko API Configuration
COINGECKO_BASE=https://api.coingecko.com/api/v3
COINDESK_API_KEY=your_coindesk_api_key_here
COINDESK_NEWS_URL=https://data-api.coindesk.com/news/v1/article/list
COINS=bitcoin,ethereum,solana,binancecoin,hyperliquid
VS=usd
API_NAME=coingecko

# Kafka Configuration
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC_MARKET=market_data
POLL_INTERVAL_SEC=180

# Neon Database Configuration (BRONZE LAYER)
BRONZE_DB_NAME=neondb
BRONZE_DB_HOST=your-neon-host.neon.tech
BRONZE_DB_USER=your_db_user
BRONZE_DB_PASSWORD=your_db_password
BRONZE_DB_PORT=5432

SILVER_DB_NAME=neondb
SILVER_DB_HOST=your-neon-host.neon.tech
SILVER_DB_USER=your_db_user
SILVER_DB_PASSWORD=your_db_password
SILVER_DB_PORT=5432

# Local Postgres (optional)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME=crypto_viz


# PGAdmin (optional)
PGADMIN_DEFAULT_EMAIL=pgadmin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
